# 점프투파이썬 2장 이어서
## 3절 리스트

## 리스트 만들기

In [1]:
# 빈 리스트
a = []
a

[]

In [2]:
b = [1,2,3]
b

[1, 2, 3]

In [3]:
c= ['Life', 'is', 'too', 'short']
c

['Life', 'is', 'too', 'short']

In [4]:
d = [1,2,'life', 'is']
d

[1, 2, 'life', 'is']

In [5]:
e = [1,2,['life', 'is']]
e

[1, 2, ['life', 'is']]

## 리스트의 인덱싱

In [6]:
[0,5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [9]:
a = [1, 2, 3]
a

[1, 2, 3]

In [10]:
a[1]

2

In [11]:
e

[1, 2, ['life', 'is']]

In [12]:
e[2]

['life', 'is']

## 리스트의 슬라이싱

In [14]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [15]:
b = a[0:2]
b

[1, 2]

## 리스트의 연산자

In [16]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2]

In [17]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [18]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

## 리스트의 수정, 변경, 삭제

In [23]:
# 하나의 값 수정하기
a = [1,2,3]

In [20]:
a[2] = 4
a

[1, 2, 4]

In [22]:
# 연속된 범위값 수정
a[2:3]

[4]

In [24]:
# 해당하여 수정
a[2:3] = ['a','b','c']
a

[1, 2, 'a', 'b', 'c']

In [25]:
# 중첩하여 수정
a[2] = ['a','b','c']
a

[1, 2, ['a', 'b', 'c'], 'b', 'c']

In [26]:
# 리스트 요소 삭제
a = [1,2,3]
del a[2]
a

[1, 2]

In [27]:
a = [1,2,3,4]
del a[1:3]
a

[1, 4]

## 리스트 함수

In [28]:
# 리스트에 요소 추가
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [29]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [31]:
# 리스트 정렬
a = [1,3,4,5,2]
a.sort()
a

[1, 2, 3, 4, 5]

In [32]:
# 리스트 뒤집기

In [33]:
# 리스트 요소삽입
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [34]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [36]:
# 리스트 요소 제거
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [37]:
# 리스트 요소 꺼내기
a = [1,2,3]
a.pop()
a

[1, 2]

In [38]:
a

[1, 2]

In [49]:
# 요소 개수 세기
a = [1,2,3,1]
a.count(1)

2

In [44]:
# 리스트 확장
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [45]:
# 리스트 삭제
a = [1,2,3,'a','b']
a.remove('a')
a

[1, 2, 3, 'b']

## 튜플

In [51]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = ('a','b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [54]:
del t3

NameError: name 't3' is not defined

### 딕셔너리

In [56]:
dic = {'name':'채영석', 'phone':'01234567'}

In [57]:
# key 와 값의 쌍
print(dic)

{'name': '채영석', 'phone': '01234567'}

In [58]:
# 값 찾기
dic ['name']

'채영석'

In [59]:
dic ['phone']

'01234567'

In [60]:
dic = {'name':'채영석', 'name':'Ronaldo'}

In [63]:
dic['name']

'Ronaldo'

In [64]:
# 키가 뭐뭐 있나?
dic.keys()

dict_keys(['name'])

In [65]:
# 값이 뭐 있나?
dic.values()

dict_values(['Ronaldo'])

## 불 자료형(bool)

In [66]:
# T / F
3 > 1

True

In [67]:
1>3

False

In [68]:
if []:
    print ('참')
else: 
    print ('거짓')

거짓

# 3장 제어문
## 1. if문

In [71]:
money = 0 # 돈이있다.
if money: 
    print('택시 타라')
else : 
    print('걸어 가라')

걸어 가라

In [ ]:
if 조건문:
    수행문장1
    수행문장2
else 조건문:
    수행문장1
    수행문장2

In [74]:
money = 2000 # 내 돈 
if money >= 3000: 
    print('택시 타라')
else: 
    print('걸어 가라')

걸어 가라

In [75]:
money = 2000 # 내 돈
card = 1 # 카드가 있다
if money >= 3000 or card:
    print('택시 타라')
else: 
    print('걸어 가라')

택시 타라

In [76]:
pocket = ['paper', 'handphone']
if 'money' in pocket: 
    print ('택시 타라')
else: 
    if card: 
        print('택시 타라')
    else: 
        print('걸어 가라')

택시 타라

In [77]:
# elif 사용
if 'money' in pocket: 
    print('택시')
elif 'card' in pocket:
    print('택시')
else:
    print('walk')

walk

In [ ]:
# 구문
if 조건문:
    수행문장1
    수행문장2
elif 조건문:
    수행문장1
    수행문장2
else 조건문