# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자형
- 리스트

1.숫자형
2.문자열

In [1]:
print("3번째 수업")

3번째 수업

In [2]:
123

123

# 1절 숫자형

In [3]:
123

123

In [4]:
456

456

In [5]:
1+2

3

In [6]:
2*3

6

In [7]:
7/4

1.75

In [10]:
-7/4

-1.75

In [11]:
7//4

1

In [12]:
7%4

3

### lab1
#### 수익 계산
- 변수 revenue를 생성 후 98456 할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성 후, revenue dhk cost 차이 값으로 설정
- profit 출력

In [21]:
revenue = 98456
cost = 45000
profit = revenue - cost
print (profit)

53456

# 2절 문자열

In [14]:
boy = "I am a boy"
boy

'I am a boy'

In [22]:
girl = "I am a girl"
girl

'I am a girl'

In [18]:
friend = '''
I am a boy
I am a girl
'''

In [19]:
boy + '' + girl

'I am a boyI am a girl'

In [20]:
boy * 3

'I am a boyI am a boyI am a boy'

In [26]:
# 문자열 인덱싱
a = "Life is too short, you need python."
a[0] + a[10] + a[30]

'Lot'

In [ ]:
# 운자열 슬라이싱 a <=

In [27]:
a[:]

'Life is too short, you need python.'

In [29]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]

print(year, month, day, weather)

2018 03 28 Sunny

In [37]:
print("year, '년', month, '월' day, '일' '날씨는', weather, '입니다.'")

year, '년', month, '월' day, '일' '날씨는', weather, '입니다.'

In [32]:
"year년 month월 day일 날씨는 weather 입니다."

'year년 month월 day일 날씨는 weather 입니다.'

In [ ]:
"year is {년}, month is {월}"

### Lab 3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오
- 변수 sq_root를 생성하고 1.41429를 할당하시오

In [34]:
pi = 3.141592
sq_root = 1.41429
print(pi, sq_root)

3.141592 1.41429

다음의 출력을 포매팅을 사용하여 만드시오
- Pi is 3.141592 and square root of 2 is 1.41429

In [38]:
"Pi is 3.141592 and square root of 2 is 1.41429"

'Pi is 3.141592 and square root of 2 is 1.41429'

In [41]:
"Pi is {pi} and square root of 2 is {sq_root}". format(pi=pi, sq_root=sq_root)

'Pi is 3.141592 and square root of 2 is 1.41429'

### 문자열 내장함수

In [44]:
# 숫자 알려주기
a = "나는 나다."
a.count('나')

2

In [45]:
# 위치 알려주기
a = "hobby"
a.find('b')

2

In [46]:
# 문자열 삽입하기
a = ", "
a.join("금은동")

'금, 은, 동'

In [47]:
a = "I love python"
a.upper()

'I LOVE PYTHON'

In [48]:
a = "I love Python"
a.lower()

'i love python'

In [49]:
a = "hi"
a.lstrip()

'hi'

In [50]:
a = "hi"
a.rstrip()

'hi'

In [51]:
a = "hi"
a.strip()

'hi'

In [54]:
# 문자열 나누기
a = "life is short"
a.split()

['life', 'is', 'short']

### lab2 
#### 문자열 다루기
- 변수 a를 생성해서, 문자열 "I love python!"
- 변수 b를 생성해서, 문자열 "You hate python"

- a에서 첫번째 o의 위치를 find() 함수로 찾으시오
- b에서 첫번째 o의 위치를 index() 함수로 찾으시오
- a의 o 문자 개수를 세시오

In [55]:
a = "I love python!"
b = "You hate python!"

In [56]:
a = "I love python!"
a.find('o')

3

In [60]:
b = "You hate python!"
b.index('o')

1

In [61]:
a.count('o')

2

- 변수 a를 모두 대문자
- 변수 b를 모두 소문자

In [62]:
a.upper()

'I LOVE PYTHON!'

In [63]:
b.lower()

'you hate python!'

- 변수 a_6에 a의 첫

# 3절 리스트